svg{
  border: 1px red solid;
}

rect, circle{
  fill: steelblue
}

text {
  font-size: 2.4em;
  font-family: sans-serif;
}

.chart-title {
  font-size: 2em;
  font-family: sans-serif;
}

.x-axis-lab .tick text {
  font-size: 2.4em
}

.tick text {
  font-size: 2.7em;
  fill: #635F5D
}

.tick line {
  stroke: #C0C0BB
}

.axis-label{
  font-size: 3.5em;
  fill: #8E8883
}